
out_dir/*
!out_dir/*.pdf

*.aux
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.toc
*.lof
*.lot
*.bbl
*.blg
*.bcf
*.run.xml
*.xdv

*.cache/
_minted-*/

.DS_Store
Thumbs.db
desktop.ini

*.swp
*.swo
*~
.vscode/
.idea/